.elementor-191
  .elementor-element.elementor-element-cf9b22a
  > .elementor-container {
  max-width: 1254px;
}
.elementor-191
  .elementor-element.elementor-element-cf9b22a
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-191
  .elementor-element.elementor-element-cf9b22a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-191
  .elementor-element.elementor-element-cf9b22a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(0deg, #050913 0%, #1e273b 100%);
}
.elementor-191 .elementor-element.elementor-element-cf9b22a {
  border-style: solid;
  border-width: 5px 0px 0px 0px;
  border-color: #000000;
  transition: background 0.3s, border 0s, border-radius 0s, box-shadow 0s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 34px 0px 0px 0px;
}
.elementor-191
  .elementor-element.elementor-element-cf9b22a
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-191
  .elementor-element.elementor-element-12a88a7.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-191
  .elementor-element.elementor-element-12a88a7.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-191
  .elementor-element.elementor-element-12a88a7.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-191 .elementor-element.elementor-element-4166831 {
  text-align: center;
}
.elementor-191 .elementor-element.elementor-element-4166831 img {
  width: 80%;
  border-radius: 11px 11px 11px 11px;
}
.elementor-191 .elementor-element.elementor-element-f6628e3 {
  text-align: center;
  width: var(--container-widget-width, 40%);
  max-width: 40%;
  --container-widget-width: 40%;
  --container-widget-flex-grow: 0;
}
.elementor-191
  .elementor-element.elementor-element-f6628e3
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Kanit", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}
.elementor-191
  .elementor-element.elementor-element-f6628e3
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-191 .elementor-element.elementor-element-2005693 {
  --display: flex;
  --align-items: center;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --background-transition: 0.3s;
}
.elementor-191 .elementor-element.elementor-element-673b161 {
  --display: grid;
  --e-con-grid-template-columns: repeat(4, 1fr);
  --e-con-grid-template-rows: repeat(1, 1fr);
  --grid-auto-flow: row;
  --background-transition: 0.3s;
}
.elementor-191
  .elementor-element.elementor-element-36fa903
  > .elementor-widget-container {
  padding: 15px 15px 15px 15px;
  background-color: #2aabee;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 67px 67px 67px 67px;
}
.elementor-191
  .elementor-element.elementor-element-6e3c967
  > .elementor-widget-container {
  padding: 16px 16px 16px 16px;
  background-color: #000000;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 67px 67px 67px 67px;
}
.elementor-191
  .elementor-element.elementor-element-31a336d
  > .elementor-widget-container {
  padding: 16px 16px 16px 16px;
  background-color: #0bbbdb;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 67px 67px 67px 67px;
}
.elementor-191
  .elementor-element.elementor-element-0ace46b
  > .elementor-widget-container {
  padding: 16px 16px 16px 16px;
  background-color: #000000;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 67px 67px 67px 67px;
}
.elementor-191
  .elementor-element.elementor-element-6d460e2
  > .elementor-widget-container {
  padding: 16px 16px 16px 16px;
  background-color: #ff4500;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 67px 67px 67px 67px;
}
.elementor-191 .elementor-element.elementor-element-17575e5 {
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-191 .elementor-element.elementor-element-c135060 {
  text-align: center;
  color: #ffffff;
  font-family: "Kanit", Sans-serif;
  font-size: 17px;
  font-weight: 300;
}
.elementor-191
  .elementor-element.elementor-element-c135060
  > .elementor-widget-container {
  margin: 0px 0px -20px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-191 {
  padding: 0px 0px 0px 0px;
}
.elementor-191:not(.elementor-motion-effects-element-type-background),
.elementor-191
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("/wp-content/uploads/2024/10/429a7a39161f1928451ed27caeb96ca4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .elementor-191 .elementor-element.elementor-element-2005693 {
    --content-width: 500px;
  }
  .elementor-191 .elementor-element.elementor-element-673b161 {
    --width: 93%;
  }
}
@media (min-width: 1025px) {
  .elementor-191:not(.elementor-motion-effects-element-type-background),
  .elementor-191
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
}
@media (max-width: 1024px) {
  .elementor-191 .elementor-element.elementor-element-673b161 {
    --grid-auto-flow: row;
  }
}
@media (max-width: 767px) {
  .elementor-191 .elementor-element.elementor-element-12a88a7 {
    width: 100%;
  }
  .elementor-191 .elementor-element.elementor-element-4166831 img {
    width: 62%;
  }
  .elementor-191
    .elementor-element.elementor-element-f6628e3
    .elementor-heading-title {
    font-size: 18px;
  }
  .elementor-191 .elementor-element.elementor-element-f6628e3 {
    --container-widget-width: 90%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 90%);
    max-width: 90%;
  }
  .elementor-191 .elementor-element.elementor-element-673b161 {
    --e-con-grid-template-columns: repeat(4, 1fr);
    --gap: 0px 7px;
    --grid-auto-flow: row;
  }
  .elementor-191
    .elementor-element.elementor-element-36fa903
    > .elementor-widget-container {
    padding: 14px 14px 14px 14px;
  }
  .elementor-191
    .elementor-element.elementor-element-6e3c967
    > .elementor-widget-container {
    padding: 14px 14px 14px 14px;
  }
  .elementor-191
    .elementor-element.elementor-element-31a336d
    > .elementor-widget-container {
    padding: 14px 14px 14px 14px;
  }
  .elementor-191
    .elementor-element.elementor-element-0ace46b
    > .elementor-widget-container {
    padding: 14px 14px 14px 14px;
  }
  .elementor-191
    .elementor-element.elementor-element-6d460e2
    > .elementor-widget-container {
    padding: 14px 14px 14px 14px;
  }
  .elementor-191 .elementor-element.elementor-element-c135060 {
    font-size: 13px;
  }
}

body {
  overflow-x: hidden;
}

.elementor-image-carousel.swiper-wrapper {
  align-items: center;
}
